<head>
<link rel="stylesheet" type="text/css" href="../static/css/styleLogin.css">
</head>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <a href="/login">
      <h2 class="underlineHover"> Sign In </h2>
    </a>
    <a href="/signup">
      <h2 class="underlineHover"> Sign Up </h2>
    </a>

    <!-- Icon -->
    <!--div class="fadeIn first">
      <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
    </div-->

    <!-- Login Form -->
    <form action=/signup name="form" method="post">
      <input type="text" name="email" class="fadeIn second" placeholder="email">
      <input type="submit" name="submit" class="fadeIn third" value="Send Email">
    </form>


  </div>
</div>
