<head>
<link rel="stylesheet" type="text/css" href="../static/css/styleLogin.css">
</head>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> Sign In </h2>
    <a href="/signup">
      <h2 class="underlineHover"> Sign Up </h2>
    </a>
    <!-- Icon -->
    <!--div class="fadeIn first">
      <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
    </div-->

    <!-- Login Form -->
    <form action=/login name="form" method="post">
      <input type="text" class="fadeIn second" name="username" placeholder="email">
      <input type="password" class="fadeIn third" name="password" placeholder="password">
      <input type="submit" name="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="/forgot">Forgot Password?</a>
    </div>

  </div>
</div>
