<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Schedule</title>
    <link rel="stylesheet" href="../static/css/userScreen.css">
  </head>
  <body>
    <div class="nav">
      <ul>
        <h1>OnlineVagtplan</h1>
        <li><a href="/user">My Profile</a></li>
        <li><a href="/kiosk_schedule">Kiosk</a></li>
        <li><a href="/cleaning_schedule">Cleaning</a></li>
        <li><a href="/ticket_schedule">Ticket sales</a></li>
      </ul>
    </div>
    <div class="schedule">
      <table>
        <tr>
          <td><ul>
            <h4>December 3.</h4>
            <li class="green">Kiosk 14-16</li>
            <li>Kiosk 16-18</li>
            <li>Kiosk 18-20</li>
          </ul></td>
          <td><ul>
            <h4>December 4.</h4>
            <li>Kiosk 14-16</li>
            <li class="green">Kiosk 16-18</li>
            <li>Kiosk 18-20</li>
          </ul></td>
          <td><ul>
            <h4>December 5.</h4>
            <li class="red">Kiosk 14-16</li>
            <li>Kiosk 16-18</li>
            <li class="green">Kiosk 18-20</li>
          </ul></td>
          <td><ul>
            <h4>December 6.</h4>
            <li class="red">Kiosk 14-16</li>
            <li class="red">Kiosk 16-18</li>
            <li class="red">Kiosk 18-20</li>
          </ul></td>
          <td><ul>
            <h4>December 7.</h4>
            <li class="red">Kiosk 14-16</li>
            <li class="red">Kiosk 16-18</li>
            <li>Kiosk 18-20</li>
          </ul></td>
          <td><ul>
            <h4>December 8.</h4>
            <li class="green">Kiosk 14-16</li>
            <li>Kiosk 16-18</li>
            <li class="red">Kiosk 18-20</li>
          </ul></td>
          <td><ul>
            <h4>December 9.</h4>
            <li>Kiosk 14-16</li>
            <li>Kiosk 16-18</li>
            <li>Kiosk 18-20</li>
          </ul></td>
        </tr>
        <tr>
          <td><ul>
            <h4>December 10.</h4>
            <li class="red">Kiosk 14-16</li>
            <li>Kiosk 16-18</li>
            <li class="red">Kiosk 18-20</li>
          </ul></td>
          <td><ul>
            <h4>December1.</h4>
            <li>Kiosk 14-16</li>
            <li>Kiosk 16-18</li>
            <li>Kiosk 18-20</li>
          </ul></td>
          <td><ul>
            <h4>December 12.</h4>
            <li class="red">Kiosk 14-16</li>
            <li class="red">Kiosk 16-18</li>
            <li>Kiosk 18-20</li>
          </ul></td>
          <td><ul>
            <h4>December 13.</h4>
            <li class="red">Kiosk 14-16</li>
            <li class="red">Kiosk 16-18</li>
            <li class="red">Kiosk 18-20</li>
          </ul></td>
          <td><ul>
            <h4>December 14.</h4>
            <li>Kiosk 14-16</li>
            <li>Kiosk 16-18</li>
            <li>Kiosk 18-20</li>
          </ul></td>
          <td><ul>
            <h4>December 15.</h4>
            <li class="red">Kiosk 14-16</li>
            <li>Kiosk 16-18</li>
            <li class="green">Kiosk 18-20</li>
          </ul></td>
          <td><ul>
            <h4>December 16.</h4>
            <li class="red">Kiosk 14-16</li>
            <li>Kiosk 16-18</li>
            <li class="green">Kiosk 18-20</li>
          </ul></td>
        </tr>
        <tr>
          <td><ul>
            <h4>December 17.</h4>
            <li class="green">Kiosk 14-16</li>
            <li>Kiosk 16-18</li>
            <li>Kiosk 18-20</li>
          </ul></td>
          <td><ul>
            <h4>December 18.</h4>
            <li class="red">Kiosk 14-16</li>
            <li class="red">Kiosk 16-18</li>
            <li class="red">Kiosk 18-20</li>
          </ul></td>
          <td><ul>
            <h4>December 19.</h4>
            <li class="red">Kiosk 14-16</li>
            <li class="red">Kiosk 16-18</li>
            <li class="red">Kiosk 18-20</li>
          </ul></td>
          <td><ul>
            <h4>December 20.</h4>
            <li class="red">Kiosk 14-16</li>
            <li class="red">Kiosk 16-18</li>
            <li>Kiosk 18-20</li>
          </ul></td>
          <td><ul>
            <h4>December 21.</h4>
            <li>Kiosk 14-16</li>
            <li>Kiosk 16-18</li>
            <li>Kiosk 18-20</li>
          </ul></td>
          <td><ul>
            <h4>December 22.</h4>
            <li class="red">Kiosk 14-16</li>
            <li class="red">Kiosk 16-18</li>
            <li class="red">Kiosk 18-20</li>
          </ul></td>
          <td><ul>
            <h4>December 23.</h4>
            <li>Kiosk 14-16</li>
            <li>Kiosk 16-18</li>
            <li>Kiosk 18-20</li>
          </ul></td>
        </tr>
        <tr>
          <td><ul>
            <h4>December 24.</h4>
            <li class="red">Kiosk 14-16</li>
            <li>Kiosk 16-18</li>
            <li class="green">Kiosk 18-20</li>
          </ul></td>
          <td><ul>
            <h4>December 25.</h4>
            <li class="red">Kiosk 14-16</li>
            <li class="red">Kiosk 16-18</li>
            <li class="red">Kiosk 18-20</li>
          </ul></td>
          <td><ul>
            <h4>December 26.</h4>
            <li class="red">Kiosk 14-16</li>
            <li class="red">Kiosk 16-18</li>
            <li class="red">Kiosk 18-20</li>
          </ul></td>
          <td><ul>
            <h4>December 27.</h4>
            <li>Kiosk 14-16</li>
            <li>Kiosk 16-18</li>
            <li>Kiosk 18-20</li>
          </ul></td>
          <td><ul>
            <h4>December 28.</h4>
            <li class="red">Kiosk 14-16</li>
            <li class="red">Kiosk 16-18</li>
            <li>Kiosk 18-20</li>
          </ul></td>
          <td><ul>
            <h4>December 29.</h4>
            <li>Kiosk 14-16</li>
            <li>Kiosk 16-18</li>
            <li>Kiosk 18-20</li>
          </ul></td>
          <td><ul>
            <h4>December 30.</h4>
            <li class="red">Kiosk 14-16</li>
            <li>Kiosk 16-18</li>
            <li class="green">Kiosk 18-20</li>
          </ul></td>
        </tr>
      </table>
    </div>
    <div class="footer">
      <ul>
        <li>Email: <a href="mailto:info@OnlineVagtplan.dk">info@OnlineVagtplan.dk</a></li>
        <li>Telefon: XX XX XX XX</li>
        <li class="leftitem">&copy; OnlineVagtplan</li>
      </ul>


    </div>
  </body>
</html>
