<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Schedule</title>
    <link rel="stylesheet" href="../static/css/userScreen.css">
  </head>
  <body>
    <div class="nav">
      <ul>
        <h1>OnlineVagtplan</h1>
        <li><a href="userScreen.html">My Profile</a></li>
        <li><a href="scheduleGroup1.html">Group1</a></li>
        <li><a href="scheduleGroup2.html">Group2</a></li>
        <li><a href="scheduleGroup3.html">Group3</a></li>
      </ul>
    </div>
    <div class="schedule">
      <table>
        <tr>
          <td>Hello</td>
          <td>Hello</td>
          <td>Hello</td>
          <td>Hello</td>
          <td>Hello</td>
          <td>Hello</td>
          <td>Hello</td>
        </tr>
        <tr>
          <td>Hello</td>
          <td>Hello</td>
          <td>Hello</td>
          <td>Hello</td>
          <td>Hello</td>
          <td>Hello</td>
          <td>Hello</td>
        </tr>
        <tr>
          <td>Hello</td>
          <td>Hello</td>
          <td>Hello</td>
          <td>Hello</td>
          <td>Hello</td>
          <td>Hello</td>
          <td>Hello</td>
        </tr>
        <tr>
          <td>Hello</td>
          <td>Hello</td>
          <td>Hello</td>
          <td>Hello</td>
          <td>Hello</td>
          <td>Hello</td>
          <td>Hello</td>
        </tr>
        <tr>
          <td>Hello</td>
          <td>Hello</td>
        </tr>
      </table>
    </div>
    <div class="footer">
      <ul>
        <li>Email: <a href="mailto:info@OnlineVagtplan.dk">info@OnlineVagtplan.dk</a></li>
        <li>Telefon: XX XX XX XX</li>
        <li class="leftitem">&copy; OnlineVagtplan</li>
      </ul>


    </div>
  </body>
</html>
