<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Schedule</title>
    <link rel="stylesheet" href="../static/css/userScreen.css">
  </head>
  <body>
    <div class="nav">
      <ul>
        <h1>OnlineVagtplan</h1>
        <li><a href="userScreen.html">My Profile</a></li>
        <li><a href="scheduleGroup1.html">Group1</a></li>
        <li><a href="scheduleGroup2.html">Group2</a></li>
        <li><a href="scheduleGroup3.html">Group3</a></li>
      </ul>
    </div>
    <div class="profile">
      <div class="profileHeader">
        <h2>Troels Have</h2>
        <img src="../static/images/profilepic.jpg" alt="Profile Picture">
      </div>
      <div class="profileInfo">
        <ul>
          <li>Name: <span class="plain">Troels Have</span></li>
          <li>Email: <span class="plain">troelshave@pornhub.cum</span></li>
          <li>Phone: <span class="plain">12 34 56 78</span></li>
          <li>Groups:<span class="plain">
            <ul>
              <li>Group1</li>
              <li>Group2</li>
              <li>Group3</li>
            </ul>
          </span></li>
          <li>Number of Shifts: <span class="plain">0</span></li>
        </ul>
      </div>
    </div>
    <div class="footer">
      <ul>
        <li>Email: <a href="mailto:info@OnlineVagtplan.dk">info@OnlineVagtplan.dk</a></li>
        <li>Telefon: XX XX XX XX</li>
        <li class="leftitem">&copy; OnlineVagtplan</li>
      </ul>


    </div>
  </body>
</html>
